body {
  margin: 0;
  background-color: #D1E6EB;
}

header {
  background-color: #52c2eb;
  text-align: center;
  font-size: 20px;
  color: white;
  background-size: cover;
}

header h1 {
padding: 50px;
}

* {
  margin: 0;
  padding: 0;
}


/* Text Styles*/
.text-primary {
  color: var(--primary-color) !important;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

ul {
  list-style: none;
}

/*--------Navbar-------- */
#nav-bar {
  position: sticky;
  top: 0;
  z-index: 10;
  background-image: linear-gradient(to right, white, rgba(255, 255, 255, 0.479)) !important;
}

.navbar-brand img {
  height: 30px;
  padding-left: 20px;
}

.navbar-nav li {
  padding: 0 10px;
}

.navbar-nav li a {
  float: right;
  text-align: left;
}

#nav-bar ul li a:hover {
  color: #52c2eb !important;
}

.navbar {
  background: #fff;
}

.navbar-toggler {
  border: none !important;
}

.nav-link {
  color: #555 !important;
  font-weight: 600;
  font-size: 16px;
}

#nav-bar li {
  float: left;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

/* Global Styles */
:root {
  background-color: #D1E6EB;
  --primary-color: #5297eb;
  --dark-color: #343a40;
  --light-color: #f4f4f4;
  --danger-color: #dc3545;
  --success-color: #28a745;
}

/* Landing Page */
.landing {
  position: relative;
  background-color: #52c7eb;
}

.landing-inner {
  padding: 50px;
  padding-top:100px;
  margin-left: auto;
  margin-right: auto;
  color: #fff;
  height: 100%;
  width: 40%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.landing-inner-text {
  text-shadow: 2px 2px 4px #000000;
}
/* Profiles Page */
.profile {
  padding: 1rem;
  line-height: 1.8;
  margin-bottom: 1rem;
  text-align: center;
  border: solid 5px var(--light-color);

}

/*responsive layout */
@media screen and (max-width: 800px) {
  .leftcolumn,
  .rightcolumn {
    width: 100%;
    padding: 0;
  }
}

.auth-bg-register {
  background-size: contain;
  background-repeat: no-repeat;
}

.auth-bg-login {
  background-size: contain;
  background-repeat: no-repeat;
}

.form-format {
  width: 50%;
  margin: 50px auto;
  margin-left: 50%;
}

.form-format-title {
  color: #467E8E;
  font-size: 33px;
  font-weight: bold;
  font-family: Lato, Helvetica, sans-serif;
  margin: auto;
}

.form-input{
  width: 100%;
  border-radius: 5px;
  border: #F4FAFC;
  background-color: #F4FAFC;
  height: 50px;
  font-size: 17px;
  font-weight: normal;
  color: #467E8E;
}

.form-format-btn {
  border: #C01172;
  border-radius: 5px;
  background-color: #C01172;
  color: white;
  padding: 10px 28px;
  font-size: 17px;
  font-weight: bold;
  cursor: pointer;
  font-family: Lato, Helvetica, sans-serif;
}

.center{
  text-align: center;
  display: block;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 100%;
}

.form-format-content {
  padding: 30px;
  font-size: 20px;
}

.profile-img {
  width:40%;
  
}

.home-title {
  background-color: #cccccc;
  text-align: center;
  padding-bottom: 20px;
}

.alert-primary {
  margin-bottom: 0;
}

.bg-color-light {
  background-color: blanchedalmond;
}